body {
  background-image: url("../WAA_Apps/waa-apps/images/FPO_GLobal_Pattern_Example.jpg")
}


.row {
  display: inline-block;
  float: left;
  margin: 30px;
  padding-left: 10px;
}

.branding_bar {

}

h2 {
  margin-left: 40px;
  padding-left: 380px;
}

.box{
    display: none;
    width: 100%;
}

a:hover + .box,.box:hover{
    display: block;
    position: relative;
    z-index: 100;
}

/* .logo {
  display: inline;
  margin-left: 110px;
} */

.hover_img a { position:relative; }
.hover_img a span { position:absolute; display:none; z-index:99; }
.hover_img a:hover span { display:block; }

.navbar-default {
  color: #000000;
}

.navbar-header {
  padding-bottom: 100px;
  padding-top: 15px;
} 